/* Global custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c;
}

.sc-bMTdWJ {
  font-size: large !important;
  cursor: pointer;
}

.sc-bMTdWJ option {
  cursor: pointer !important;
  font-size: 18px;
  padding: 12px 12px;
}

.sc-bMTdWJ:focus {
  outline: none !important;
}




