.footer {
  background: #e6f0ff;
  padding: 30px 0px;
  text-align: center;
  font-size: large;
}

.footer .row {
  width: 100%;
  margin: 1% auto;
  padding: 0.6% 0%;
  color: #002966;
  font-size: 1rem;
}

.footer .row a {
  text-decoration: none;
  color: #002966;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #002966;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row .social-icon {
  margin: 0% 1%;
  font-size: 1.8rem;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
    text-align: center;
    font-size: large;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}
