.about {
  display: flex;
}

.about-text {
  flex: 1;
  padding: 10px;
  margin: 5px;
}

.about-text p {
  text-indent: 120px;
  text-align: justify;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.about-text .about-title {
  font-size: 24px;
  margin-bottom: 18px;
  font-weight: 500;
  border-bottom: 2px solid royalblue;
}

.about-img-container {
  width: 50%;
  padding: 28px;
}

.about-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

@media (max-width: 600px) {
  .about {
    display: block;
  }

  .about-img-container {
    width: 100%;
    padding: 0px;
  }
}

@media (min-width: 601px) and (max-width: 1124px) {
  .about-img-container {
    margin-top: 72px;
    padding: 0px;
  }
}
